h1 {
    text-align: center;
    color: purple;
}

#calculatorFrame {
    display: block;
    margin: auto;
    color: yellow;
    background-color: purple;
    width: 350px;
    height: 400px;
    text-align: center;
}

#displayScreen {
    display: block;
    background-color: white;
    color: purple;
    margin: 10px;
    margin-top: 0;

}