h1 {
    text-align: center;
    color: purple;
}

#calculatorFrame {
    display: block;
    margin: auto;
    color: yellow;
    background-color: purple;
    width: 280px;
    height: 400px;
    text-align: center;
}

#displayPanel {
    display: block;
    background-color: white;
    color: purple;
    margin: 20px;
    margin-top: 0;
    padding: 10px;
    height: 20px;
}

#buttonContainer {
    margin: 2px;
    display: block;
}

.calButton {
    width: 40px;
    height: 40px;
    margin: 10px;
}
